{% extends 'base.html' %}

{% block content %}
    <header class="center">
        <h4 class="red-text">{{ _('登陆Todoism') }}</h4><br>
    </header>
    <div class="login-form">
        <input class="validate login-input" id="username-input" name="username" type="text"
               placeholder="{{ _('用户名') }}" autofocus required>
        <input class="validate login-input" id="password-input" name="password" type="password"
               placeholder="{{ _('密码') }}" required>
        <span class="right">
            <a class="btn grey" id="register-btn">{{ _('注册这个帐户') }}</a>
            <a class="btn red" id="login-btn">{{ _('登陆') }}</a>
        </span>
        <p><a class="blue-text link button left" id="toggle-password">{{ _('显示密码') }}</a></p>&nbsp;
    </div>
{% endblock %}